@{
    ViewBag.Title = "Ficha Técnica";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="fichatecnica">
    <h1>Blanka</h1>
    <div>
        <div>
            <strong>Primeira aparição:</strong> @model.PrimeiraAparicao
        </div>
        <div>
            <strong>Nascimento:</strong> @model.Nascimento
        </div>
        <div>
            <strong>Altura:</strong> @model.Altura
        </div>
        <div>
            <strong>Peso:</strong> @model.Peso
        </div>
        <div>
            <strong>Medidas:</strong> @model.Medidas
        </div>
        <div>
            <strong>Tipo sanguíneo:</strong> @model.TipoSanguineo
        </div>
        <div>
            <strong>Habilidades especiais:</strong> @model.HabilidadesEspeciais
        </div>
        <div>
            <strong>Gosta:</strong> @model.Gosta
        </div>
        <div>
            <strong>Desgosta:</strong> @model.Desgosta
        </div>
        <div>
            <strong>Estilo de luta:</strong> @model.EstiloLuta
        </div>
        <div>
            <strong>Origem:</strong> @model.Origem
        </div>
        <div>
            <strong>Uma fala de vitória:</strong> @model.FalaVitoria
        </div>
        <div>
            <strong>SSF2 nickname:</strong> @model.SSF2Nickname
        </div>
        <div>
            <strong>SFA3 nickname:</strong> @model.SFA3Nickname
        </div>
        <div>
            <strong>SF4 nickname:</strong> @model.SF4Nickname
        </div>
        <div>
            <strong>SFA3 stage:</strong> @model.SFA3Stage
        </div>
        <div>
            <strong>SF2 stage:</strong> @model.SF2Stafe
        </div>
        <div>
            <strong>Golpes especiais famosos:</strong> @model.GolpesEspeciais
        </div>
    </div>
</div>
