@{
    ViewBag.Title = "Ficha Técnica";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="subtitulo">

    <h1>
        <strong>
            Ficha Técnica
        </strong>
    </h1>

</div>
<div class="fichatecnica">
    <h1>Blanka</h1>
    <div>
        <div>
            <strong>Primeira aparição:</strong> @(Model.PrimeiraAparicao)
        </div>
        <div>
            <strong>Nascimento:</strong> @(Model.Nascimento)
        </div>
        <div>
            <strong>Altura:</strong> @(Model.Altura)
        </div>
        <div>
            <strong>Peso:</strong> @(Model.Peso)
        </div>
        <div>
            <strong>Medidas:</strong> @(Model.Medidas)
        </div>
        <div>
            <strong>Tipo sanguíneo:</strong> @(Model.TipoSanguineo)
        </div>
        <div>
            <strong>Habilidades especiais:</strong> @(Model.HabilidadesEspeciais)
        </div>
        <div>
            <strong>Gosta:</strong> @(Model.Gosta)
        </div>
        <div>
            <strong>Desgosta:</strong> @(Model.Desgosta)
        </div>
        <div>
            <strong>Estilo de luta:</strong> @(Model.EstiloLuta)
        </div>
        <div>
            <strong>Origem:</strong> @(Model.Origem)
        </div>
        <div>
            <strong>Uma fala de vitória:</strong> @(Model.FalaVitoria)
        </div>
        <div>
            <strong>SSF2 nickname:</strong> @(Model.SSF2Nickname)
        </div>
        <div>
            <strong>SFA3 nickname:</strong> @(Model.SFA3Nickname)
        </div>
        <div>
            <strong>SF4 nickname:</strong> @(Model.SF4Nickname)
        </div>
        <div>
            <strong>SFA3 stage:</strong> @(Model.SFA3Stage)
        </div>
        <div>
            <strong>SF2 stage:</strong> @(Model.SF2Stafe)
        </div>
        <div>
            <strong>Golpes especiais famosos:</strong> @(Model.GolpesEspeciais)
        </div>
    </div>
</div>
